 
<div>
  <canvas id="canvas">{{ chart }}</canvas>
</div>


 



















<!-- 




 <h4 style="text-align:center"> Bar chart of Company A&B
    <br/><br/>
 
  
    </h4><br/>
  <div>
    <div style="display: block">
     <canvas baseChart  
              [datasets] ="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [colors]="barChartColors"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
  
  
  </div>  -->

  <!-- baseChart is a directive from ng2-chart -->
<!-- 
  <tbody>
      
    <tr *ngFor = "let messages of message"> 
        <td>{{messages.PersonId}}</td>
        <td>{{messages.FirstName}}</td>  
        <td>{{messages.LastName}}</td> 
        <td>{{messages.Gender}}</td>
        <td>{{messages.Age}}</td>
        <td>{{messages.Location}}</td>
        <td>{{messages.Date.toDateString()}}</td> 
        <td></td>
        
         
    </tr>
   </tbody> -->


<button (click)=getData()>click me</button>