<!DOCTYPE html>
<html>
<body>

<div class="header">
  <h2>US BANK</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>My Data</h2>
     
        <div class = "Supervisor"> 
      <img src="./assets/person.png" width="20">
      <h3>Supervisor:</h3>
      <p>Nathan Chan</p>
        </div>
        <div class = "Bill">
            <img src="./assets/check.png" width="20">
            <h3>Billability</h3>
            <p>Free</p>
        </div>
        <div class = "Location">
            <img src="./assets/building.png" width="20">
            <h3>Work Location</h3>
            <p>N.A.</p>
        </div>
      <p>................</p>
    </div>
    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Log In</h2>
      
     
    </div>
    <div class="card">
      <h3>Did you enjoy this website?</h3>
      <p>Apply some feedback!</p>

<input type="checkbox" ng-model="all()"> Check all<br><br>

<input type="checkbox" ng-checked="all()">Yes I loved it!<br>
<input type="checkbox" ng-checked="all()">No I hated it!<br>
<input type="checkbox" ng-checked="all()">No Comment. <br><br>
<button id="Submit"
  class="btn btn-primary">Submit
</button>


    </div>
    <div class="card">
      <h3>Useful Links?</h3>
      <p>link link link</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Footer</h2>
</div>

</body>
</html>